@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
}

body{
    height: 40vw;
}


/*Responsive Mobile*/
@media screen and (max-device-width: 1279px){
    body{
        font-size: 1em;
        height: 275vh;
        padding-bottom: 30vh;
    }
    .bg{
        width: 100%;
        background-image: linear-gradient(180deg, rgba(240, 84, 84, 0.25) 0%,
        rgba(18,18,18, 1) 100%), url(./img/athletic-man-running-urban-street-against-grey-background\ 2.png);
        background-size: cover;
        background-attachment: fixed;
    }

    /*Navigation Bar*/
    .navbar, .navbar h1{
        display: none;
    }
    body h1{
        margin-top: 25vh;
        margin-bottom: 100vh;
        font-size: 5em;
        width: 100vh;
    }
    /*Card*/
    .flex{
        position: inherit;
        display: flex;
        flex-direction: column;
        width: 100vh;
        height: 100vh;
        margin: 50vh auto;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 80%;
        height: max-content;
        padding-bottom: 20vh;
        background-color: rgba(0,0,0,0.4);
        margin: 10vh auto 0;
        border-radius: 50px;
    }
    .left{
        margin-top: -25vh;
    }
    .card h2{
        font-size: 4em;
        margin: 0.5em auto;
    }
    .card p{
        position: inherit;
        height: 30%;
        padding-bottom: 2.5em;
    }
    .card a{
        margin-top: -10%;
        border: 10px solid #ffffff;
        border-radius: 25px;
        padding: 5% 10%;
        font-size: 2em;
    }
    hr{
        position: inherit;
        width: 80%;
        background-color: #ffffff;
        border-radius: 100px;
        height: 10px;
        margin: 1em auto 3em;
    }
    
    .caption{
        position: inherit;
        margin: auto auto 1em;
        width: 80%;
        font-size: 2.25em;
        text-align: justify;
    }
    
    img{
        position: inherit;
        margin-top: 10%;
        width: 20%;
        background-color: #ffffff;
        padding: 10%;
        border-radius: 50%;
    }
    a, a:visited{
        text-decoration: none;
        color: #ffffff;
    }
      
    a:focus, a:hover{
        color: #F05454;
        border-color: #F05454;
    }
    
    footer{
        display: none;
        position: inherit;
        margin-top: 1.75em;
        margin-bottom: 2.5em;
        width: 10%;
        font-size: 1.25em;
    }
      
    footer a{
        text-decoration: none;
    }

}


/*Responsive Desktop*/
@media screen and (min-device-width:1280px) and (max-device-width: 2560px){
    h1{
        margin-top: 1em;
    }
    
    .bg{
        width: 100%;
        background-image: linear-gradient(180deg, rgba(240, 84, 84, 0.25) 0%,
        rgba(18,18,18, 1) 100%), url(./img/athletic-man-running-urban-street-against-grey-background\ 2.png);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .navbar{
        position: inherit;
        width: 100%;
    }
    
    .navbar h1{
        width: 20%;
        font-size: 2em;
        text-align: center;
        margin-top: 2.5%;
    }
    
    .flex{
        position: inherit;
        display: flex;
        width: 100%;
        height: 30vw;
        justify-content: center;
    }
    
    .card{
        position:inherit;
        width: 20%;
        height: 35vw;
        background-color: rgba(0,0,0,0.4);
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
    
    .left{
        border-top-left-radius: 12.5px;
        border-bottom-left-radius: 12.5px; 
    }
    
    .right{
        border-top-right-radius: 12.5px;
        border-bottom-right-radius: 12.5px; 
    
    }
    
    .card p{
        position: inherit;
        height: 30%;
        padding-bottom: 2.5em;
    }
    .card a{
        margin-top: -10%;
        border: 2px solid #ffffff;
        border-radius: 5px;
        padding: 3%;
    }
    
    hr{
        position: inherit;
        width: 80%;
        background-color: #ffffff;
        border-radius: 5px;
        height: 2px;
    }
    
    .caption{
        position: inherit;
        margin: auto;
        width: 80%;
        text-align: justify;
    }
    
    img{
        position: inherit;
        margin-top: 10%;
        width: 20%;
        background-color: #ffffff;
        padding: 10%;
        border-radius: 50%;
    }
    
    a, a:visited{
        text-decoration: none;
        color: #ffffff;
    }
      
    a:focus, a:hover{
        color: #F05454;
        border-color: #F05454;
    }
    
    footer{
        position: inherit;
        margin-top: 1.75em;
        margin-bottom: 2.5em;
        width: 10%;
        font-size: 1.25em;
    }
      
    footer a{
        text-decoration: none;
    }
}


