@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}




body {
    display: flex;
    margin: 1em;
    background-color: #121212;
    height: 100vh;
    overflow-x: hidden;
}

.details {
    margin: 5vh;
}

.details div {
    margin: 5vh 0;
}

.left {
    height: 100vh;
}

.left div {
    margin: 10vh auto;
}

.right {
    max-width: 92.5vh;
}

hr {
    width: 100%;
    margin: 0;
    height: 3px;
    background-color: #ffffff;
    border-radius: 25px;
}

/*Details Section*/
.details {
    display: block;
}

/*Type Section*/
.type {
    margin: 1vh auto;
}

.type:first-of-type {
    margin-bottom: -5vh;
}

.type h2 {
    margin-bottom: -10%;
}

.payment-option {
    position: inherit;
    display: flex;
}

.payment-option label {
    display: inline-flex;
    width: 25vh;
    margin: 0 1em;
}

.payment-option input[type="radio"] {
    transform: scale(2);
    background-color: #F05454;
}

.payment-option p {
    vertical-align: auto;
    margin-top: 1.5em;
    margin-left: 1em;
}

/*Transfer Section*/
.transfer {
    text-align: center;
}

.amount {
    color: #F05454;
}

.bank-num,
.bank-name {
    font-size: 2em;
    margin: 0.5em 0;
}

.bank-name {
    margin-top: 1em;
}

.bank-num {
    margin-bottom: 12.5%;
}

/*Confirm Section*/
.confirm {
    width: 80%;
    margin: auto 10%;
    padding: 1em 5em;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

.confirm:hover {
    background-color: #F05454;
    border: 1px solid #F05454;
}

.disclaimer {
    margin-top: 5%;
    margin-left: 12.5%;
    width: 75%;
    font-size: 0.9em;
    text-align: justify;
    color: gray;
}

.back-button {
    position: relative;
    margin-top: 5%;
    height: 7.5vh;
    text-decoration: none;
    font-size: 1.25em;
}

.back-button a {
    text-decoration: none;
}

.back-button a:hover {
    color: #F05454;
}

/*Place Section*/
.place * {
    margin: auto 1em;
}

.place {
    display: flex;
}

.place img {
    background-size: cover;
    width: 120px;
    height: 90px;
    border-radius: 10px;
}

.place p {
    margin: auto;
    width: 50vw;
    font-weight: bold;
    font-size: 1.25em;
}
.place p:first-of-type{
    margin-bottom: 5%;
}
.place .bottom-text{
    font-weight: normal;
}

/*Voucher Section*/
.voucher {
    display: block;
    padding: 0.1em 0;
}

.voucher input[type="text"] {
    outline: none !important;
    border: 2px solid gray;
    background-color: transparent;
    padding: 0.25em 0;
    width: 50%;
    border-radius: 5px;
    margin-right: 5%;
    color: gray;
    font-size: 1.25em;
}

.voucher input[type="text"]:focus {
    outline: none !important;
    border: 2px solid #F05454;
    background-color: #ffffff;
}

.voucher a {
    padding: 0.75em 3em;
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-decoration: none;
}

.voucher a:hover {
    background-color: #F05454;
    border-color: #F05454;
}

/*Price Section*/
.price:not(.price-info) {
    margin: -2em 0;
}

.price {
    display: flex;
    flex-direction: row;
}

.price-info-text {
    padding-right: 55%;
}

.price-info {
    width: 25%;
    text-align: right;
}

/*Total Section*/
.total {
    display: flex;
    margin: auto 0;
    height: 10vh;
}

.total-text {
    margin-top: 1.5%;
    padding-right: 70.5%;
}

.total-price {
    margin-top: 1%;
    font-size: 1.25em;
    font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-align: center;
    animation: fade-in 0.5s;
  }
  
  #popup-message {
    font-size: 1em;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .popup a {
    border-radius: 5px;
    padding: 5%;
    background-color: #F05454;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  